<h1>Question & Answer</h1>

Post any question and get help answering from users of our Question & Answer.

<ul>
  {{#each model as |question|}}
    <li>{{question.question}} {{question.author}} {{question.additional}}</li>
  {{/each}}
</ul>
