<h1>Question and Answer</h1>

Post any question and get help answering from users of our Question and Answer.

<ul>
  {{#each model as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
